<!DOCTYPE html>
<html>
    <head>
		<title>JS Unit Test Sharing</title>
		<link rel="stylesheet" href="styles/style.css">
	</head>
    <body>
		<header>
			<h1>JS Unit Test Sharing</h1>
		</header>
		<section>
			<a href="/userlogin.html">User login</a>
		</section>
    </body>
</html>