html, body {
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.5;
	color: #222;
	margin: 2rem;
}

form#login {
	width: 40rem;
	font-size: 2rem;
}

form#login button {
	float: right;
	margin-right: 0.6rem;
	color: #fff;
    background-color: #0000ff;
    border: none;	
}

form#login button:disabled {
	opacity: 0.4;
	background-color: #222;
}

input[type="text"], input[type="password"] {
	min-width: 20rem;
	font-size: 2rem;
}

input[type="checkbox"] {
	width: 2rem;
	height: 2rem;
}

label {
	cursor: pointer;
	display: block;
	margin: 0.5rem;
	text-align: right;
}

button {
	font-size: 2rem;
	
}